# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
config.*
/depcomp
/install-sh
/missing
ltmain.sh
libtool
/stamp-h1
*.so*
*.o
*.lo
*.la
*.deps
*.libs
tdistat
tdidump
tditest
*.arm*
*.atom*
*.tdi
tdim
libtdim.so

